* {
  margin: 0%;
  padding: 0%;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "EB Garamond", serif;
  color: antiquewhite;
  line-height: 1;
  overflow-x: hidden;
  background-color: rgb(53, 51, 51);
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}

:root {
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

.main-container {
  width: var(--container-width-lg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Content */

.brel-table {
  left: 10%;
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 100px 0;
}

table {
  transform: rotate(-45deg);

  margin-top: 200px;
}

td {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(228, 198, 225);
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.hidden {
  border: 0;
}

.north-meteor {
  position: sticky;
  left: 49.6%;
  top: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(228, 198, 225);
  border-radius: 40%;
  background-color: rgb(238, 161, 74);
  cursor: pointer;
  user-select: none;

  margin-top: 150px;
}

.south-meteor {
  position: sticky;
  left: 49.4%;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(228, 198, 225);
  border-radius: 40%;
  background-color: rgb(238, 161, 74);
  cursor: pointer;
  user-select: none;

  margin-top: 140px;
}

label {
  text-align: center;
  margin: 10px 0;
}

